# Which sports are dominated by short people?

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data_project/athlete_events.csv')

In [3]:
df.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [4]:
new_df = df[["Height", "Sport"]]
cleaning = new_df.dropna()
cleaning

        Height          Sport
0        180.0     Basketball
1        170.0           Judo
4        185.0  Speed Skating
5        185.0  Speed Skating
6        185.0  Speed Skating
...        ...            ...
271111   179.0           Luge
271112   176.0    Ski Jumping
271113   176.0    Ski Jumping
271114   185.0      Bobsleigh
271115   185.0      Bobsleigh

[210945 rows x 2 columns]

In [10]:
short = cleaning['Height'] < 180.0
tall = cleaning['Height'] >= 180.0

In [11]:
short_df = cleaning.loc[short]['Sport'].value_counts()
short_df.head()

Athletics               20338
Gymnastics              18407
Swimming                 9931
Cross Country Skiing     5730
Shooting                 5707
Name: Sport, dtype: int64

In [14]:
tall_df = cleaning.loc[tall]['Sport'].value_counts()
tall_df.head()

Athletics     12569
Swimming       9219
Rowing         5802
Basketball     3275
Fencing        2968
Name: Sport, dtype: int64

### Athletics, Gymnastics, Swimming, Cross Country Skiing and Shooting are dominated by short people